{
  "minimal_project": {
    "Admin": {
      "Brief": {},
      "Campaign tracking": {},
      "Casting": {},
      "Contact report": {},
      "Correspondence": {},
      "Directors brief": {},
      "Documentation": {},
      "Economy": {},
      "From Client": {},
      "Media": {},
      "Production brief": {},
      "Time schedule": {},
      "Treatment": {}
    },
    "Assets": {
      "Audio": {
        "Music": {},
        "Voiceover": {}
      },
      "Copy": {},
      "Graphics": {},
      "Images": {},
      "References": {},
      "Script": {},
      "Video": {}
    },
    "In and Out": {
      "In": {},
      "Out": {}
    },
    "Sketches": {},
    "Channels": {
      "Design": {
        "_meta": { "icon": "paintbrush.fill" },
        "Proofs": {},
        "Work files": {},
        "_FINAL DELIVERY": {}
      },
      "Digital": {
        "_meta": { "icon": "laptopcomputer" },
        "Proofs": {},
        "Work files": {},
        "_FINAL DELIVERY": {}
      },
      "Film": {
        "_meta": { "icon": "film.fill" },
        "Proofs": {},
        "Work files": {},
        "_FINAL DELIVERY": {}
      },
      "Print": {
        "_meta": { "icon": "printer.fill" },
        "Proofs": {},
        "Work files": {},
        "_FINAL DELIVERY": {}
      },
      "Radio": {
        "_meta": { "icon": "antenna.radiowaves.left.and.right" },
        "Proofs": {},
        "_FINAL DELIVERY": {}
      }
    }
  }
}